/* chatroom messaging css from miles */
#chat-history {
    background-color: #546386;
    background-color: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-color: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    color: white;
    border-radius: 15px 15px 15px 0px;
    width: 90%;
    height: 500px;
    padding-left: 30px;
    overflow: scroll;
    border: 10px #546386;
    box-shadow: 5px 0px 5px grey;
}

#map {
    display: none;
    width: 250px;
    height: 250px;
}
/* senders message color and style */
#payload {
    margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #93cada;
	padding: 10px;
    position: relative;
    width: 25%;
}

#timestamp {
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}

#sender {
    color: white;
	font-size: 15px;
}

#input-field {
    
    background-color: #39435b;
    border: 0;
    color:white;
    height: 40px;
    overflow-y: auto;
    width: 75%;
    box-shadow: none;
    outline: 0px;
    border-radius: 0px 0px 0px 0px;
    padding-left: 20px;
    position: relative;
}

#submit {
    border-radius: 0px 0px 15px 0px;
    background-color: #39435b;
    height: 40px;
	border: 0;
    color: white;
    clear: all;
    position: absolute;
}

#ping {
    border-radius: 0px 0px 0px 10px;
    background-color: #39435b;
    height: 40px;
	border: 0;
    color: white;
    float: left;
    position: relative;
}